<%- include('header'); %>

<h2>This is the about page</h2>
<p>
  asdjasjdjb askjdaskj dbaksjb djkbas kjdb akjbsdjkbas jkdbaskjb djkasb dkjbas
  kjdbaskjb dkjas djkasjdkbjasdbjkasbkdj
</p>

<%- include('footer'); %>
